/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

@import url('https://fonts.googleapis.com/css?family=Alatsi|Solway&display=swap');

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-size: 20px;
}

code {
	
}

h1, h2, h3 {
	font-family: 'Alatsi', sans-serif;

}

h1 {
	margin-bottom: 1em;

}

h2 {
	margin-bottom: 1em;

}

h3 {
	margin-top:1em;
	margin-bottom: 1em;
	
}

header {
	margin: 1em auto 1em auto;
	width:300px;
	
}

main {

}

p {
	line-height: 135%;
	font-family: 'Solway', serif;
	text-indent: 1em;
}
p:first-of-type {
	text-indent: 0;
}

#intro {
	width:35em;
	margin: 1em auto 1em auto;

}

#how-does-it-work, #influence, #joke {
	width: 35em;
	margin: 1em auto 1em auto;

}